<div class="w-full flex flex-row px-4 py-2 sticky top-0 items-center">
  <a
    class="text-primary font-bold hover:text-orange-600 cursor-pointer"
    routerLink="/"
    >MASCE</a
  >
  <div class="flex-auto"></div>
  <button
    *ngIf="account"
    mat-stroked-button
    color="primary"
    [matMenuTriggerFor]="accountMenu"
  >
    {{ account.firstName }} {{ account.lastName }}
  </button>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item (click)="logOut()">
      <mat-icon>logout</mat-icon>Cerrar sesión
    </button>
  </mat-menu>
</div>
