<!-- Nav bar -->
<div class="w-full h-14 flex flex-row items-center px-5 text-primary">
  <p class="font-bold">MASCE</p>
  <div class="flex-auto"></div>
  <button
    mat-flat-button
    color="primary"
    [routerLink]="['/', 'auth', 'log-in']"
  >
    Iniciar sesión
  </button>
</div>
<div class="w-full">
  <div class="flex flex-row flex-wrap justify-center w-full h-first">
    <div class="w-full max-w-7xl">
      <!-- First section -->
      <div class="flex flex-row h-first">
        <div class="basis-2/3 flex flex-col justify-center px-10">
          <p class="font-bold text-neutral-400">
            Tesina, Universidad Autónoma de Aguascalientes
          </p>
          <p
            class="font-bold text-primary text-5xl flex flex-row justify-center"
          >
            Modelo de Autentificación Sin Correo Electrónico
          </p>
          <p class="font-bold text-neutral-400">
            Leonel Iván Fernández Carrillo
          </p>
          <p class="font-bold text-neutral-400">Asesor: Arturo Ocampo Silva</p>
        </div>
        <div class="basis 1/3 flex flex-col justify-center max-lg:hidden">
          <img src="assets/images/security.svg" width="300px" />
        </div>
      </div>
      <!--Goals -->
      <div>
        <p class="w-full text-center text-3xl font-bold text-neutral-400 py-2">
          Objetivo General
        </p>
        <p class="w-full text-center text-neutral-400 px-10 py-2">
          Proponer un modelo de sistema de registro de usuarios que no requiera
          correo electrónico como parte del proceso, utilizando el estándar de
          autenticación OAuth2 para garantizar la seguridad y la autorización de
          los usuarios
        </p>
        <p
          class="w-full text-center text-3xl font-bold text-neutral-400 pb-2 pt-10"
        >
          Objetivo Específicos
        </p>
        <div class="flex flex-row flex-wrap justify-center px-10 py-4">
          <div
            class="bg-primary h-64 p-4 m-2 rounded-md w-64 shadow-md flex flex-col justify-center"
          >
            <p class="text-black text-center font-medium">
              Investigar y evaluar diferentes métodos de autenticación
              alternativos que no requieran correo electrónico
            </p>
          </div>
          <div
            class="bg-primary h-64 p-4 m-2 rounded-md w-64 shadow-md flex flex-col justify-center"
          >
            <p class="text-black text-center font-medium">
              Mejorar la interfaz de usuario y la experiencia del usuario
              durante el proceso de registro para garantizar que sea intuitivo y
              eficiente, fomentando la adopción del sistema
            </p>
          </div>
          <div
            class="bg-primary h-64 p-4 m-2 rounded-md w-64 shadow-md flex flex-col justify-center"
          >
            <p class="text-black text-center font-medium">
              Diseñar la arquitectura del sistema que permita a los usuarios
              registrarse sin correo electrónico
            </p>
          </div>
          <div
            class="bg-primary h-64 p-4 m-2 rounded-md w-64 shadow-md flex flex-col justify-center"
          >
            <p class="text-black text-center font-medium">
              Implementar medidas de seguridad adecuadas para proteger la
              información y la privacidad de los usuarios durante el proceso de
              registro y autenticación
            </p>
          </div>
          <div
            class="bg-primary h-64 p-4 m-2 rounded-md w-64 shadow-md flex flex-col justify-center"
          >
            <p class="text-black text-center font-medium">
              Realizar pruebas de usuario y obtener comentarios para evaluar la
              efectividad del sistema de registro y realizar ajustes según sea
              necesario para mejorar su desempeño y usabilidad
            </p>
          </div>
        </div>
      </div>
      <!-- Social responsability -->
      <div
        class="bg-black w-4/5 my-4 shadow-md rounded-e-lg xl:rounded-md text-white text-right"
      >
        <p class="w-full text-3xl font-bold mb-2 p-4 text-primary text-left">
          Responsabilidad Social
        </p>
        <img src="assets/images/environment.svg" class="my-4 w-80" />
        <ul class="p-4">
          <li>
            Promover la protección de los datos personales y la privacidad de
            los usuarios
          </li>
          <li>
            Impulsar la inclusión digital y la accesibilidad para personas con
            diversas necesidades y preferencias
          </li>
          <li>Reducir el spam y los ataques de phishing</li>
          <li>Mejorar la eficiencia energética y la sostenibilidad digital</li>
          <li>
            Facilitar la adopción de la tecnología y aumentar la adopción de
            aplicaciones y servicios en línea
          </li>
        </ul>
      </div>
      <hr class="border-neutral-400 mt-32" />
      <div class="flex flex-row my-4 items-center justify-center">
        <a
          href="mailto:leonel.leonel.fernandezcarrillo@gmail.com"
          class="text-primary hover:underline hover:font-medium cursor-pointer mx-4"
          >Email</a
        >
        <a
          href="https://github.com/LeonelYLuego"
          target="_blank"
          class="text-primary hover:underline hover:font-medium cursor-pointer mx-4"
          >GitHub</a
        >
        <a
          href="https://www.linkedin.com/in/leonel-y-luego/"
          target="_blank"
          class="text-primary hover:underline hover:font-medium cursor-pointer mx-4"
          >LinkedIn</a
        >
      </div>
    </div>
  </div>
</div>
