@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$orange-palette, 500);
$my-accent: mat.define-palette(mat.$gray-palette, 400);

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  background-color: rgb(34, 34, 34);
  color: white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-icon-button {
  line-height: 1;
}

*,
::before,
::after {
  border-style: none;
}

.primary-snackbar.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background: #ff9800;

    .mat-mdc-button {
      color: white !important;
    }
  }

  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: black;
    font-weight: 500;
    white-space: pre-wrap;
  }
}
