<div class="w-full h-screen flex flex-row justify-center items-center">
  <form
    class="bg-neutral-800 rounded-md shadow-md p-3 w-full max-w-lg m-4"
    [formGroup]="logInForm"
    (ngSubmit)="logIn()"
  >
    <h1 class="text-xl font-bold text-primary mb-4">Iniciar Sesión</h1>
    <div class="flex flex-row justify-center m-4 mb-8">
      <img src="assets/images/login.svg" class="w-80" />
    </div>
    <mat-form-field appearance="outline" class="w-full mb-2">
      <mat-label>Nombre de usuario</mat-label>
      <input matInput formControlName="username" />
      <mat-error>Nombre de usuario inválido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full mb-2">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error>Contraseña inválida</mat-error>
    </mat-form-field>
    <div class="flex flex-row justify-center mb-4">
      <a
        class="text-primary hover:underline cursor-pointer hover:text-orange-600"
        (click)="goSignUp()"
        >¿No tienes una cuenta?, Regístrate</a
      >
    </div>
    <div class="flex flex-row-reverse">
      <button mat-raised-button color="primary" type="submit">
        Iniciar sesión
      </button>
    </div>
  </form>
</div>
